<div id="main" role="main">
	{{ partial "sidebar.html" . }}
	<article class="page">
		<div class="page_container">
			<section class="page_content">
				{{ partial "masthead_nav.html" . }}
				<h2>Recent blog posts</h2>
				{{ partial "recent_posts.html" . }}
			</section>
		</div>
	</article>
</div>