<div id="main" role="main">
	{{ partial "sidebar.html" . }}
	<article class="page">
		<div class="page_container">
			<section class="page_content">
				{{ partial "masthead_nav.html" . }}
				
				<h2>{{ with .Site.GetPage "/about" }}{{ .Title }}</h2>
				{{ .Content }}
				{{ end }}
				<hr/>
			</section>
		</div>
	</article>
</div>