<div class="recent-post-container">
<p>asdasdasd</p>
{{ range (.Data.Pages.ByDate).Reverse }}
      <div class="recent-post">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ partial "post_metadata" (dict "content" . "is_list" 0) }}
        <p>{{ .Description }} <br /><a href="{{ .RelPermalink }}">Read more...</a></p>
		
      </div>
{{ end }}
</div>